.shotsWrap {
  padding: 22px;
}
.avatarWrap {
  display: flex;
}
.avatarWrap .avatar {
  margin-right: 10px;
}
.avatarWrap>.avatar img {
  border-radius: 50%;
  width: 48px;
}
.savelike {
  display: flex;
  margin-left: 58px;
  margin-top: 15px;
  margin-bottom: 15px;
}
.savelike button {
  padding: 5px;
  width: 70px;
  margin-right: 10px;
  border: 1px solid rgba(187, 187, 187, 1);
  background: rgb(255, 255, 255);
  color: rgba(117, 117, 117, 1)
}