.header {
  height: 50px;
  background-color: rgb(55, 55, 55);
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgb(255, 255, 255);
  position: fixed;
  z-index: 1;
  width: 100%;
}

.header .sideNav {
  position: absolute;
  left: 20px;
  top: 18px;
  fill: rgb(155, 155, 155)
}

.homeHero {
  width: 100%;
  background: rgb(211, 205, 191);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-bottom: 1px solid #e5e5e5;
  padding-bottom: 24px;
}

.homeHero .buttonWrapper .login {
  font-size: 13px;
  color: rgb(255, 255, 255);
  border-radius: 4px;
  border: 1px solid rgb(243, 76, 143);
  padding: 9px 11px 9px 11px;
  background: rgb(243, 76, 143);
}

.homeHero .imgWrapper {
  margin-top: 20px;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.homeHero h3 {
  font-size: 22px;
  color: #4D373A;
  font-weight: 700;
  margin: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.homeHero .descDribbble {
  font-weight: 300;
  color: rgb(133, 98, 73);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial, sans-serif "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial, sans-serif
}

.homeHero .buttonWrapper {
  margin: 25px;
}
.homeHero .artBy {
  font-weight: 300;
  color: rgb(133, 98, 73);
}
.tabBar {
  position: relative;
  display: flex;
  justify-content: center;
  border-bottom: 1px solid #e5e5e5;
  background: rgb(251, 251, 251);
  height: 34px;
}

.tabBar .display {
  position: absolute;
  right: 0;
  display: flex;
  top: 50%;
  transform: translateY(-50%);
  padding: 5px 5px 7px 7px;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  margin-top: 2px;
}
.tabBar .display.x {
  background-color: rgb(51, 51, 51);
}
.tabBar .displayOption {
  position: absolute;
  right: 0;
  top: 34px;
  height: 100px;
  width: 206px;
  padding: 16px;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  background: rgb(51, 51, 51)
}
.tabBar .displayOption>.options {
  color: rgb(204, 204, 204);
  margin-bottom: 6px;
  font-size: 12px;
  font-weight: 500;
}
.tabBar .optionWrap {
  display: flex;
}
.tabBar .displayOption .col {
  height: 50px;
  width: 90px;
  border-radius: 2px;
  margin-right: 10px;
  background: rgb(80, 80, 80);
  display: flex;
  justify-content: center;
  align-items: center;
}
.tabBar .displayOption .col.clicked {
background-color: rgb(153, 153, 153)
}
.tabBar .displayOption .col.clicked>.colQuare {
  border:3px solid rgb(255, 255, 255);
}
.tabBar .displayOption .col.clicked>.colQuare>hr {
  border-bottom: 3px solid rgb(255, 255, 255);
}
.tabBar .displayOption .row.clicked>.rowQuare {
  border:3px solid rgb(255, 255, 255);
}
.tabBar .displayOption .col>.colQuare {
  border:3px solid rgb(51, 51, 51);
  width: 30px;
  height: 32px;
  border-radius: 1px;
  position: relative;
}
.tabBar .displayOption .col>.colQuare>hr {
  position: absolute;
  border: none;
  border-bottom: 3px solid rgb(51, 51, 51);
  left: 0;
  right: 0;
  bottom: 3px;
  
}
.tabBar .displayOption .row {
  height: 50px;
  width: 90px;
  border-radius: 2px;
  background: rgb(80, 80, 80);
  display: flex;
  justify-content: center;
  align-items: center; 
}
.tabBar .displayOption .row.clicked {
  background: rgb(153, 153, 153);
}
.tabBar .displayOption .row>.rowQuare {
  border:3px solid rgb(51, 51, 51);
  width: 22px;
  height: 20px;
  border-radius: 1px;
}
.tabBar .display.arrgement {
  padding: 5px 5px 7px 7px;
}
.tabBar .display>.itemWrap {
  margin-right: 2px;
}
.tabBar .display .squareItem {
  border: 4px solid rgb(187, 187, 187);
  border-radius: 2px;
  margin-top: 2px;
}


.tabBar span .icon {
  fill: rgb(187, 187, 187);
  height: 1.4em;
  width: 1.4em;
}

.homeHero .imgWrapper img {
  width: 70%;
}