.header {
  height: 50px;
  background-color: rgb(55, 55, 55);
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgb(255, 255, 255);
  position: fixed;
  width: 100%;
}
.header .sideNav {
  position: absolute;
  left: 20px;
  top: 18px;
  fill: rgb(155, 155, 155)
}
.homeHero {
  width: 100%;
  background:#fbede9;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-bottom: 1px solid #e5e5e5;
}
.homeHero .buttonWrapper .login {
  color: red;
}
.homeHero .imgWrapper {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.homeHero h3 {
  margin: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.homeHero .descDribbble {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
}
.homeHero .buttonWrapper {
  margin: 21px;
}
.tabBar {
  position: relative;
  display: flex;
  justify-content: center;
  border-bottom: 1px solid #e5e5e5;
  background: rgb(251, 251, 251);
}
.tabBar div {
  margin: 8px;
}
.tabBar span {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}
.tabBar span .icon {
  fill: rgb(187, 187, 187);
  height: 1.4em;
  width: 1.4em;
}
.homeHero .imgWrapper img {
  width: 70%;
}