.header {
  height: 50px;
  background-color: rgb(55, 55, 55);
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgb(255, 255, 255)
}
.header .sideNav {
  position: absolute;
  left: 20px;
  fill: rgb(155, 155, 155)
}
.homeHero {
  width: 100%;
  background:#fbede9;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.homeHero .imgWrapper {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.homeHero h3 {
  margin: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.homeHero .descDribbble {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
}
.homeHero .buttonWrapper {
  margin: 21px;
}
.homeHero .imgWrapper img {
  width: 70%;
}